registry=http://registry.internal.example.com/
@scope:registry=http://npm.internal.example.com/
index-url=http://pypi.internal.example.com/simple
npmRegistryServer=http://registry.internal.example.com/
