// Configuration for the storefront service.
export const config = {
  region: 'eu-west-1',
  awsAccessKeyId: '{{AWS_KEY}}',
  stripeKey: '{{STRIPE_KEY}}',
  sessionSecret: 'Zx9mK2pQ7wL4nR8tV3bY6hF1jD5sA0gC',
};
